@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.header-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
h3,
h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 17px;
  margin-bottom: 8px;
}
p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
}
.element-flex {
  display: flex;
  text-align: center;
  justify-content: center;
}
.element-flex p {
  color: #2b6ef5;
  padding-right: 10px;
}
.header-name {
  font-family: "Indie Flower", cursive;
  font-size: 35px;
}
.element-flex h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}
/* Input */
.input-div {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.input-search {
  width: 300px;
  height: 30px;
  border-radius: 7px;
  border: 1px solid #3072f1;
}
/* btn page pagination */
.btnPage{
  border: none;
  border-radius: 4px;
  background-color: #fbad00;
  color:white;
  margin: 8px;
  width: 30px;
  height: 30px;
}
.btnPageAll{
  text-align: center;
}